@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.carousel:hover .animate-scroll {
    animation-play-state: paused;
}

.clip-triangle-svg {
    background-image: url('https://avatars.mds.yandex.net/i?id=7914e286ded97265d6757c02cfdf21a5797d7bb0-4533159-images-thumbs&n=13');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 16rem; 
    height: 16rem;
    clip-path: url(#clipDesktop);
    z-index: -1;
}

@media (max-width: 768px) {
    .clip-triangle-svg {
        width: 100%;
        height: 120vw;
        clip-path: url(#clipMobile);
    }
}