/* Фоновое изображение */
.clip-svg {
    background-image: url('backgroung1.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    clip-path: url(#clipDesktop);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

@media (max-width: 768px) {
    .clip-svg {
        width: 100%;
        height: 120vw;
        clip-path: url(#clipMobile);
        z-index: 0;

        opacity: 0;
        transition: opacity 0.8s ease-out;
    }
}

/* Загрузка SVG файла*/
body.loaded .clip-svg {
  opacity: 1;
}

/* Общие настройки текста*/
h1, h2, h3, h4, h5, h6, p, li, span {
  color: #ffffff;
  text-shadow:
    0 0 6px rgba(0,0,0,0.9),
    0 0 9px rgba(0,0,0,0.7);
}

/* Ссылки на скачивание и связь*/
.download-link, .contact-link {
  font-weight: 600;
  color: #7efcff;
  text-decoration: none;
}

.download-link:hover, .contact-link:hover {
  color: #ffc131;
}

/* Печерисления*/
.features-list::before {
  content: "—";
  margin-right: 0.5rem;
  opacity: 0.6;
}

/* Настройка карусели скриншотов*/
.slide {
  flex-shrink: 0;
  width: calc(33.3333% - 1.5rem); /* 3 */
  margin: 0.75rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  border-radius: 1rem;
  background: #111;
}

@media (max-width: 1023px) {
  .slide {
    width: calc(50% - 1.5rem);
  }
}

@media (max-width: 639px) {
  .slide {
    width: 100%;
    margin: 0 auto;
  }
}