@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.carousel:hover .animate-scroll {
    animation-play-state: paused;
}

.clip-svg {
    background-image: url('backgroung1.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    clip-path: url(#clipDesktop);
    z-index: -1;

    opacity: 0;
    transition: opacity 0.8s ease-out;
}

@media (max-width: 768px) {
    .clip-svg {
        width: 100%;
        height: 120vw;
        clip-path: url(#clipMobile);
        z-index: -1;

        opacity: 0;
        transition: opacity 0.8s ease-out;
    }
}

body.loaded .clip-svg {
  opacity: 1;
}